<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.manpdev.joketeller">

    <application
        android:supportsRtl="true">
        <activity android:name=".JokeViewerActivity"
            android:launchMode="singleTop"/>
    </application>

</manifest>